* {
  margin: 0;
  padding: 0px;
}

body {
  padding: 50px;
}

main {
  display: flow-root;
  width: 345px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

figure {
  float: left;

  position: relative;
}

figure:nth-child(-n + 3),
figure:nth-child(n + 4) {
  margin-right: 20px;
}

.image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

figcaption {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dbdbdb;
  border: 1px solid #fff;
  bottom: 0;
  right: 0;
}

figcaption.on {
  background-color: #4cfe88;
}
/* 
@supports (display: flex) {
  figure {
    clear: both;
  }
  main {
    display: flex;
    flex-flow: row wrap;
  }

  figure:nth-child(n + 5):nth-child(-n + 8) {
    order: -1;
  }
} */
